@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#body {
    background-color: rgb(20, 20, 20);
}


#header-container {
    height: 30vw;
    width: 100%;
    background-image: none;
}

#pageTitle-container {
    display: flex;
    text-align: center;
    margin-top: 14vw;
    margin-left: 10vw;
}

#welcome-wrapper {
    background-color: black;
    height: 6.5vw;
    display: flex;
    margin: 0 auto;
    width: 60vw;
    justify-content: center;
    align-self: center;
}

#about-container {
    margin-top: 6.7vw;
    margin-left: 13.4vw;
}

#about2-container {
    margin-top: 6.7vw;
    margin-left: 13.4vw;
    max-width: 55vw;
}

#navbar-itemE {
    background: rgba(0, 234, 255, 0);
    color: rgb(255, 255, 255);
    padding: 1.5vw 3vw;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    font-size: 1.35vw;
    border: 0.21vw solid rgb(225, 225, 225);
    flex-wrap: wrap;
    font-family:sans-serif;
    width: 7.5vw;
}
#navbar-itemE:hover {
    background: rgba(0, 234, 255, 0.642);
    color: rgb(5, 5, 5);
    padding: 1.5vw 3vw;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    font-size: 1.35vw;
    border: 0.21vw solid rgb(225, 225, 225);
    flex-wrap: wrap;
    font-family:sans-serif;
    width: 7.5vw;   
}


#recentstuff-section {
    margin-top: 8vw;
}

.recentThing {
    border: 2px solid rgb(221, 221, 221);
    height: 15vw;
    margin-top: 5vw;
    border-radius: 0.7vw;
    display: flex;
    background-color: black;
}

#item1 {
    display: flex;
    flex-direction: row;
    height: 7vw;
    align-items:center;
    width: fit-content;
}

#item2 {
    margin-left: 13.4vw;
}

.footer {
    display: flex;
    align-items: stretch;
    gap: 2vw;
    justify-content: center;
    margin-top: 6.7vw;
    background: black;
    width: 100%;
    height: 14.7vw;
    margin-bottom: 0%;
}

#sm-links-container {
    display: flex;
    align-items: stretch;
    gap: 3.4vw;
}

/*h1 and other text elements*/

#h1-fusebie {
    font-size: 3.7vw;
    color: rgb(20, 20, 20);
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
    margin-left: 2.6vw;
    margin-top: 5vw;
    font-family: monospace;
    /* margin-top: 16vw; */
}

#headerbackgroundlink {
    margin-left: 35vw;
    height: max-content;
    margin-top: 7vw;
}

#h2-headerbackgroundlink {
    font-family: monospace;
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
    font-size: 1.2vw;
}

#h2-headerbackgroundlink:hover {
    font-family: monospace;
    color: rgb(225, 225, 225);
    text-decoration: none;
    font-size: 1.2vw;
}

#h2-welcome {
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(62, 217, 222);
    text-align: left;
    margin-left: 1.4vw;
    letter-spacing: 1px;
}
.p-WID {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color:rgb(225, 225, 225);
    text-align: center;
}

.h1-about {
    color: rgb(0, 235, 252);
    font-family: roboto;
    font-size: 2.5vw;
}

.h1-about2 {
    color: rgb(0, 235, 252);
    font-family: roboto;
    font-size: 2.5vw;
}

#h1-recentstuf {
    color: rgb(0, 235, 252);
    font-family: roboto;
    background-color: black;
    padding: 0.8vw;
    width: 17vw;
    font-size: 2.1vw;
}

.h1-RecentThingTitle {
    color: rgb(229, 229, 229);
    font-family: monospace;
    margin-left: 2vw;
    font-size: 1.7vw;
}

.postShortDesc {
    color: rgb(229, 229, 229);
    font-family: sans-serif;
    letter-spacing: 0.1vw;
    margin-left: 2vw;
    font-size: 1vw;
    
}

#h1-SocialMedia {
    font-family: roboto;
    font-size: 2vw;
    color: rgb(0, 217, 255);
    text-align: center;
}
.h1-intro {
    font-family: roboto;
    font-size: 1.7vw;
    color: rgb(225, 225, 225);
}

.p-about1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.27vw;
    color: rgb(225, 225, 225);
}

.p-about {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.27vw;
    color: rgb(225, 225, 225);
    width: 40vw;
    height: 10vw;
}
.i-have-no-idea-what-this-is {
    color: rgb(225, 225, 225);
    font-size: 1vw;
}

/* images */

#fusebie {
    height: 20vw;
    margin-left: 12vw;
    clip-path: circle();
}

#songCoverImg {
    margin-left: 0.5vw;
    margin-top: 0.8vw;
    border-radius: 0.7vw;
    max-height: 13.5vw;
}

.smlink-logo-img {
    height: 3.4vw;
}
#soundcloud-logo-img {
    height: 3.9vw;
}
#github-logo-img {
    background-color: rgb(225, 225, 225);
    height: 3.4vw;
    border-radius: 50%;
}