/*background image*/

.index {
    /* background-image: url('indexBackground.jpg'); */
    background-color: rgb(20, 20, 20);
}

.wrapper {
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .typing-animation {
    width: 800px;
    animation: typing 2.5s steps(22),
    blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    animation-iteration-count: 2;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
} */

.box-about {
    margin-left: 20px;
}
#about2-box {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
#item2 {
    margin-right: 20px;
}


.footer {
    display: flex;
    align-items: stretch;
    gap: 30px;
    justify-content: center;
    margin-top: 100px;
    background: black;
    width: 100%;
    height: 220px;
}

.sm-links {
    display: flex;
    align-items: stretch;
    gap: 50px;
}

/* #btn-rate1 {
    background-color: rgb(14, 214, 187);
    border: none;
    color: rgb(0 , 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    height: 65px;
    border-radius: 15px;
    font-family: monospace;
} */

/*h1 and other text elements*/

.h1-name {
    font-size: 5rem;
    color: rgb(118, 0, 209);
    text-align: center;
    font-family: monospace;
}
.h2-greet {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: black; */
    color:rgb(62, 217, 222);
    /* font-family: monospace; */
    text-align: center;
}
.p-WID {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color:white;
    text-align: center;
}

.h1-about {
    color: rgb(0, 235, 252);
    font-family: monospace;
    font-size: 50px;
}

.h1-about2 {
    color: rgb(0, 235, 252);
    font-family: monospace;
    font-size: 40px;
}

.h1-dylmw {
    color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
}

.h1-sm {
    font-family: monospace;
    font-size: 30px;
    color: rgb(0, 217, 255);
    text-align: center;
}
.h1-intro {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
}

.p-about1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}

.p-about {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}
.i-have-no-idea-what-this-is {
    color: white;
}
/* images */

.smlink-logo {
    height: 50px;
}
#soundcloud-logo {
    height: 58px;
}
#github-logo {
    background-color: white;
    height: 50px;
    border-radius: 50%;
}