@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#body {
    background-color: rgb(20, 20, 20);
}

#header-container {
    height: 30vw;
    width: 100%;
    background-image: none;
}

#welcome-wrapper {
    background-color: black;
    height: 6.7vw;
    width: 60vw;
    display: flex;
    justify-self: center;
}

#about-container {
    margin-top: 6.7vw;
    margin-left: 13.4vw;
}
#about2-container {
    margin-top: 6.7vw;
    margin-left: 13.4vw;
    max-width: 55vw;
}

#navbar-itemE {
    background: rgba(0, 234, 255, 0);
    color: rgb(255, 255, 255);
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    border: 3px solid white;
    flex-wrap: wrap;
    font-family:sans-serif;
    width: 110px;
    font-size: 20px;
}
#navbar-itemE:hover {
    background: rgba(0, 234, 255, 0.642);
    color: rgb(5, 5, 5);
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    border: 3px solid white;
    flex-wrap: wrap;
    font-family:sans-serif;
    width: 110px;
    font-size: 20px;    
}


#recentstuff-section {
    margin-top: 8vw;
}

.recentThing {
    border: 2px solid rgb(221, 221, 221);
    height: 15vw;
    margin-top: 5vw;
    border-radius: 0.7vw;
    display: flex;
}

#item2 {
    margin-left: 13.4vw;
}

.footer {
    display: flex;
    align-items: stretch;
    gap: 2vw;
    justify-content: center;
    margin-top: 6.7vw;
    background: black;
    width: 100%;
    height: 14.7vw;
}

#sm-links-container {
    display: flex;
    align-items: stretch;
    gap: 3.4vw;
}

/*h1 and other text elements*/

#h1-fusebie {
    font-size: 4rem;
    color: rgb(20, 20, 20);
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
    margin-left: 14.7vw;
    font-family: monospace;
    margin-top: 16vw;
}
#h2-welcome {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color:rgb(62, 217, 222);
    text-align: left;
    margin-left: 1.4vw;
    letter-spacing: 1px;
}
.p-WID {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color:white;
    text-align: center;
}

.h1-about {
    color: rgb(0, 235, 252);
    font-family: roboto;
    font-size: 50px;
}

.h1-about2 {
    color: rgb(0, 235, 252);
    font-family: roboto;
    font-size: 40px;
}

#h1-recentstuf {
    color: rgb(0, 235, 252);
    font-family: roboto;
    background-color: black;
    padding: 10px;
    width: 250px;
}

.h1-RecentThingTitle {
    color: rgb(229, 229, 229);
    font-family: monospace;
    margin-left: 2vw;
}

.postShortDesc {
    color: rgb(229, 229, 229);
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-left: 2vw;
    
}

#h1-SocialMedia {
    font-family: roboto;
    font-size: 30px;
    color: rgb(0, 217, 255);
    text-align: center;
}
.h1-intro {
    font-family: roboto;
    font-size: 25px;
    color: white;
}

.p-about1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}

.p-about {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}
.i-have-no-idea-what-this-is {
    color: white;
}

/* images */

#songCoverImg {
    margin-left: 0.5vw;
    margin-top: 0.8vw;
    border-radius: 0.7vw;
    max-height: 13.5vw;
}

.smlink-logo-img {
    height: 3.4vw;
}
#soundcloud-logo-img {
    height: 3.9vw;
}
#github-logo-img {
    background-color: white;
    height: 3.4vw;
    border-radius: 50%;
}