.body {
    background-color: rgb(27, 27, 27);
}

/* .project1-box {
    display: flex; 
    align-items: stretch;
    gap: 15px;
} */

.image-slider-box {
    display: flex;
    align-items: stretch;
}
#project2-box {
    margin-top: 23vw;
}

#project3-box {
    margin-top: 23vw;
}
#project4-box {
    margin-top: 23vw;
}

.game-description-box {
    margin-left: 1.1vw;
    /* background-color: rgba(0, 0, 0, 0.185); */
    /* border: 3px solid black;
    border-radius: 20px; */
    width: 50vw;
    height: 10vw;
}

/*h1 , p , and other text elements*/

.h1-b {
    color: rgb(225, 225, 225);
    font-family: sans-serif;
    font-size: 3.5vw;
    margin-top: 3vw;
    margin-left: 10vw;
    padding-bottom: 3vw;
}

#h1-velocityBean {
    color: rgb(132, 0, 232);
    font-family: sans-serif;
    font-size: 3vw;
    margin-left: 2vw;
}

#h1-cat {
    color: rgb(243, 243, 243);
    font-family: sans-serif;
    font-size: 3vw;
    margin-left: 2vw;
}

.h1-projectName {
    color: rgb(63, 204, 255);
    font-family: sans-serif;
    font-size: 3vw;
    margin-left: 2vw;
}

.h1-about-proj {
    color: rgb(225, 225, 225);
    font-family: monospace;
    font-size: 3vw;
    margin-left: 3vw;
}

.h1-downloadPrompt {
    color: rgb(0, 235, 252);
    font-family: monospace;
    font-size: 1.8vw;
    margin-left: 1.1vw;
}

.p-game-description {
    margin-left: 1.2vw;
    font-size: 1vw;
    padding: 1vw;
    color: rgb(225, 225, 225);
    font-family:sans-serif;
    background-color: black;
}
.p-discordPromo {
    margin-left: 1.2vw;
    font-size: 1.1vw;
    color: rgb(225, 225, 225);
    font-family:sans-serif;
    width: 60vw;
    background-color: black;
    padding: 1vw;
}

/* buttons */



/* .project-game-download-button {
    padding: 25px;
    padding-inline: 50px;
    background: rgb(0, 174, 255);
    border: none;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 40px;
    border: 3px solid #9000ff;
}
.project-game-download-button:hover {
    background: rgb(0, 102, 255);
} */

.image-slide-left {
    height: 20px; 
}

.image-slide-right {
    height: 50px;
}

.image-slide-leftbtn {
    background-color: rgb(140, 0, 255);
    margin-left: 20px;
}
.image-slide-rightbtn {
    background-color: rgb(140, 0, 255);
    margin-left: 20px;
}
.image-slide-leftbtn:hover {
    background-color: rgba(140, 0, 255, 0.774);
    margin-left: 20px;
}
.image-slide-rightbtn:hover {
    background-color: rgba(140, 0, 255, 0.774);
    margin-left: 20px;
}
/* Images */

#useless-game-poster {
    height: 400px;
    width: 740px;
    margin-left: 20px;
}

.img-1 {
    width: 400px;
    height: 220px;
}
.VNM-poster {
    margin-top: 10px;
    margin-left: 50px;
    width: 650px;
}
.i-have-no-idea-what-this-is {
    color: rgb(225, 225, 225);
}

/* embed */

.ItchEmbed {
    margin-left: 3vw;
    height: 15vw;
    width: 47vw;
}

.ytEmbed-gameplay-video
{
    margin-left: 3vw;
    height: 24vw; 
    width: 40vw;
}