.navbar {
    position: relative;
}
.navbar-left,
.navbar-right {
    display: inline-block;
}
.navbaritemA,
.navbaritemB,
.navbaritemC,
.navbaritemD {
    display: inline-block;
}

.navbar-right {
    position: absolute;
    right: 0;
}

.navbar-item {
    background: rgba(0, 234, 255, 0);
    color: rgb(255, 255, 255);
    padding: 1.5vw 3vw;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    font-size:1.35vw;
    border: 0.21vw solid white;
    flex-wrap: wrap;
    font-family:sans-serif;
    width: 7vw;
    
    
}
.navbar-item:hover {
    background: rgba(0, 234, 255, 0.642);
    color: rgb(5, 5, 5);
    padding: 1.5vw 3vw;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    font-size: 1.35vw;
    border: 0.21vw solid white;
    flex-wrap: wrap;
    font-family:sans-serif;
    width: 7vw;
}

