.navbar {
    position: relative;
}
.navbar-left,
.navbar-right {
    display: inline-block;
}
.navbaritemA,
.navbaritemB,
.navbaritemC {
    display: inline-block;
}

.navbar-right {
    position: absolute;
    right: 0;
}

.navbar-item {
    background: rgba(0, 234, 255, 0);
    color: rgb(255, 255, 255);
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    border: 3px solid white;
    flex-wrap: wrap;
    font-family:sans-serif;
    width: 100px;
    font-size: 20px;
    
}
.navbar-item:hover {
    background: rgba(0, 234, 255, 0.642);
    color: rgb(5, 5, 5);
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    border: 3px solid white;
    flex-wrap: wrap;
    font-family:sans-serif;
    width: 100px;
    font-size: 20px;
    
}

