#body {
    background-color: black;
}

@font-face {
    font-family: pixelFont;
    src: url(/Assets/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf);
}

/* div */
#openedwindowcontainer {
    display: none;
    position: absolute;
    height: 600%;
    width: 99%;
    z-index: 10;
}


#openedwindow {
    display: none;
    position: sticky;
    top: 20%;
    left: 10%;
    bottom: 50%;
    right: auto;
    border: 0.16vw solid rgb(225, 225, 225);
    height: 40vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#openedwindow-inner {
    border: 2px solid rgb(225, 225, 225);
    width: 78.5vw;
    height: 37vw;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}

#openedwindowbutton-container {
    display: flex;
    margin-left: 86%;
    margin-right: 0%;
    margin-top: 2px;
    justify-content: space-between;
    gap: 0.6vw;
}

.window {
    border: 0.16vw solid rgb(225, 225, 225);
    width: 47vw;
    height: 31.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.131);
    position: absolute;
}

.button-container {
    display: flex;
    padding-left: 87%;
    padding-right: 1%;
    padding-top: 0.2vw;
    justify-content: space-between;
    gap: 0.6vw;
    cursor: grab;
}
.button-container:hover {
    display: flex;
    padding-left: 87%;
    padding-right: 1%;
    padding-top: 0.2vw;
    justify-content: space-between;
    gap: 0.6vw;
    background-color: rgba(255, 255, 255, 0.25);
}

.windowbutton {
    height: 1.3vw;
    width: 1.3vw;
    user-select:none;
}

.windowbutton:hover {
    background-color: rgb(96, 194, 255);
    cursor: pointer;
}

.window-inner {
    border: 0.18vw solid rgb(225, 225, 225);
    width: 45.5vw;
    height: 28.8vw;
    margin-bottom: 0.2vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}
/* text */
#h1-pageHeader {
    font-size: 4vw;
    color: rgb(225, 225, 225);
    margin-left: 14.7vw;
    font-family: pixelFont;
    margin-top: 16vw;
    font-weight: 10;
}

#p-gamestatus {
    font-size: 1.4vw;
    color: rgb(225, 225, 225);
    margin-left: 14.7vw;
    font-family: pixelFont;
    margin-top: 6vw;
    font-weight: 100;
}

#p-discordpromo {
    font-size: 1.3vw;
    color: rgb(225, 225, 225);
    margin-left: 14.7vw;
    font-family: pixelFont;
    font-weight: 100;
}

.videoEmbed {
    height: 26vw;
    width: 44vw;
}

#videoPlayer
{
    display: flex;
    flex-direction: row;
    margin-left: 15vw;
    margin-top: 5vw;
    align-items: center;
}

.arrowButton {
    color: rgba(255, 255, 255, 0.282);
    opacity: 0.6;
}
.arrowButton:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
}

#gameVideo1 {
    display: block;
}

#gameVideo2 {
    display: none;
}