/*CSS IS MAIN*/
.body {
    background-color: rgb(27, 27, 27);
}

/* .project1-box {
    display: flex; 
    align-items: stretch;
    gap: 15px;
} */

.image-slider-box {
    display: flex;
    align-items: stretch;
}
#project2-box {
    margin-top:9rem;
}

.useless-game-description-box {
    margin-left: 20px;
    /* background-color: rgba(0, 0, 0, 0.185); */
    /* border: 3px solid black;
    border-radius: 20px; */
    width: 900px;
    height: 400px;
}
.h1-b-background-box {
    display: flex;
    align-items: center;
    border: 4px solid white;
    width: 400px;
    /* padding-block: 1px; */
    height: 60px;
    margin-bottom: 50px;
    padding: 10px;
}

/*h1 , p , and other text elements*/

.h1-a {
    color: rgb(0, 255, 213);
    text-align: center;
    font-family: monospace;
    font-size: 60px;
    background-color: rgba(125, 0, 241, 0.384);
}

.h1-b {
    color: rgb(0, 255, 200);
    font-family: monospace;
    font-size: 50px;
}

.h1-c {
    color: black;
    font-family: monospace;
    font-size: 50px;
    margin-left: 20px;
    text-shadow: -1px -1px 0 rgb(162, 0, 226), 1px -1px 0 rgb(162, 0, 226), -1px 1px 0 rgb(162, 0, 226), 1px 1px 0 rgb(162, 0, 226);
}
.h1-d {
    color: rgb(0, 251, 255);
    font-family: monospace;
    font-size: 50px;
    margin-left: 20px;
    text-shadow: -1px -1px 0 rgb(162, 0, 226), 1px -1px 0 rgb(162, 0, 226), -1px 1px 0 rgb(162, 0, 226), 1px 1px 0 rgb(162, 0, 226);
}
.h2-a {
    color:rgb(0, 161, 22);
    text-align: left;
    margin-left: 30px;
    font-family: monospace;
    font-size: 30px;
}

#h2-trelloBoard-link {
    color: #9f2aff;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}
#h2-trelloBoard-link:hover {
    color: rgb(29, 29, 255);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}

.h1-about-proj1 {
    color: rgb(0, 235, 252);
    font-family: monospace;
    font-size: 50px;
    margin-left: 40px;
}

.h1-sysreqrmnts {
    color: rgb(0, 235, 252);
    font-family: monospace;
    font-size: 30px;
    margin-left: 20px;
}

.p-useless-game-description {
    margin-left: 20px;
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* buttons */

#VazeNeonItchEmbed {
    margin-left: 40px;
}

/* .project-game-download-button {
    padding: 25px;
    padding-inline: 50px;
    background: rgb(0, 174, 255);
    border: none;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 40px;
    border: 3px solid #9000ff;
}
.project-game-download-button:hover {
    background: rgb(0, 102, 255);
} */

.image-slide-left {
    height: 20px; 
}

.image-slide-right {
    height: 50px;
}

.image-slide-leftbtn {
    background-color: rgb(140, 0, 255);
    margin-left: 20px;
}
.image-slide-rightbtn {
    background-color: rgb(140, 0, 255);
    margin-left: 20px;
}
.image-slide-leftbtn:hover {
    background-color: rgba(140, 0, 255, 0.774);
    margin-left: 20px;
}
.image-slide-rightbtn:hover {
    background-color: rgba(140, 0, 255, 0.774);
    margin-left: 20px;
}
/* Images */

#useless-game-poster {
    height: 400px;
    width: 740px;
    margin-left: 20px;
}

.img-1 {
    width: 400px;
    height: 220px;
}
.VNM-poster {
    margin-top: 10px;
    margin-left: 50px;
    width: 650px;
}
.i-have-no-idea-what-this-is {
    color: white;
}

/* embed */

.ytEmbed-gameplay-video
{
    margin-left: 40px;
}